@{
    ViewData["Title"] = "Авторизация";
}

<div class="login-form">
    <h2 class="text-center mb-4">Вход в систему</h2>

    <form>
        <div class="form-group">
            <label for="name">Имя пользователя</label>
            <input type="text" class="form-control" id="name" placeholder="Введите ваше имя">
        </div>

        <div class="form-group">
            <label for="email">Email адрес</label>
            <input type="email" class="form-control" id="email" placeholder="Введите ваш email">
        </div>

        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" placeholder="Введите пароль">
        </div>

        <button type="submit" class="btn btn-primary btn-login">Войти</button>
    </form>
</div>